{
    deps, [
        {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {tag, "3.3.0"}}},
        {mysql, ".*", {git, "https://github.com/silviucpp/mysql-otp", "34cd716fb9478cf26b10d2debae39318f6f08d80"}},
        {pooler, ".*", {git, "https://github.com/seth/pooler.git", {tag, "1.5.2"}}},
        {plists, ".*", {git, "https://github.com/silviucpp/plists.git", {tag, "1.1.2"}}}
    ]
}.

{
    erl_opts,
    [
        warnings_as_errors ,
        warn_export_all,
        {parse_transform, lager_transform}
    ]
}.
