{
    deps, [
        {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.3"}}},
        {mysql, ".*", {git, "https://github.com/silviucpp/mysql-otp", "ec767982eace404d53d4656389327c63b73f04a4"}},
        {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", "d378f996182daa6251ad5438cee4d3f6eb7ea50f"}},
        {plists, ".*", {git, "https://github.com/silviucpp/plists.git", {tag, "1.1.2"}}}
    ]
}.

{
    erl_opts,
    [
        warnings_as_errors ,
        warn_export_all,
        {parse_transform, lager_transform}
    ]
}.
